<div class="modal fade" id="storehouse-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="storehouse-add-modal-title">新增仓库</h3>
            </div>
            <div class="modal-body">
                <form id="storehouse-add-form">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 仓库名：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="storehouseName" class="form-control">
                                    <input type="text" hidden name="oldStorehouseName" class="form-control">
                                    <input type="text" hidden name="storehouseId" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 负责人：
					             </span>
                                <div class="form-group">
                                    <select multiple="multiple" name="userSelect"></select>
                                    <input name="userId" hidden/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 地址：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="address" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 备注：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="remarks" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group" style="margin-top:10px;">
                                <span class="input-group-addon">
					               	状态：
					             </span>
                                <div class="toggle-switch">
                                    <input type="checkbox" name="status" checked class="toggle-switch__checkbox">
                                    <i class="toggle-switch__helper"></i>
                                </div>
                                <span class="input-group-addon" id="status" style="margin-left: 10px;">
	                                 	可用
						             </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="storehouse-add-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/storehouse/storehouseAdd.js}"></script>